/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

h1 {
  color:darkred;
  font-size: 250%;
}

p {
  font-family:"'Times New Roman', Times, serif";
  text-indent: 30px;
  margin-left: 5px;
}

#content {
  background-color:darkgrey;
  width: 700px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  border: dotted 5px #FF0000;
  font-size: 20px;
}